.wisdom-tourism {
  background: #00063c url('@/assets/large-screen/wisdom-tourism/bg1.png') no-repeat center center;
  background-size: cover;
  color: #f4f6fc;
  height: 1080px;
  left: 50%;
  position: absolute;
  top: 0;
  transform-origin: center top;
  transition: all 0.3s;
  width: 1920px;

  &__main {
    box-sizing: border-box;
    height: 100%;
    padding: 50px 42px 10px;
    width: 100%;
  }
}

.chart-tooptip {
  align-items: center;
  background: url('@/assets/large-screen/wisdom-tourism/line-bg.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  min-width: 80px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  span {
    color: rgb(255 255 255 / 80%);
    font-size: 12px;

    i {
      color: #f5b348;
      font-style: normal;
    }
  }
}

/** 年度游客量对比图标的 tooltip */
.annual-use-chart-tooltip {
  background: url('@/assets/large-screen/wisdom-tourism/contrast-bg.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  height: 103px;
  padding: 5px 20px;
  width: 206px;

  &__month {
    color: #03b8e2;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 2px;
    transform: scale(0.9);
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .year-item {
    align-items: center;
    display: flex;
    height: 22px;
    width: 100%;

    &__year-dot {
      border-radius: 50%;
      height: 5px;
      margin: 0 2px;
      width: 5px;
    }

    &__year-name,
    &__year-value {
      color: #03b8e2;
      font-size: 10px;
      transform: scale(0.8);
    }

    &__year-name {
      margin: 0 2px;
    }

    &__year-value {
      display: inline-block;
      width: 25%;
    }
  }
}
