.wisdom-tourism-panel {
  --wisdom-tourism-panel-clip-path: polygon(
    174px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 42px,
    154px 42px,
    174px 0
  );

  color: #fff;
  height: 310px;
  position: relative;
  width: 390px;

  &::before {
    background-color: #11144e;
    clip-path: var(--wisdom-tourism-panel-clip-path);
    content: '';
    inset: 0;
    position: absolute;
  }

  &__header {
    align-items: flex-start;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    height: 42px;
    justify-content: space-between;
    padding-right: 20px;
    position: relative;
    width: 100%;
    z-index: 2;

    &-title {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 18px;

      span {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }

  &__main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 42px);
    padding: 20px 20px 10px;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}
