@media (prefers-reduced-motion: no-preference) {
  /* 旋转动画 */
  .animation__spin {
    animation: ani-spin-frames infinite 20s linear;
  }
}

/* 旋转动画 */
@keyframes ani-spin-frames {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /** 心跳动态 */
  .animation__breath {
    animation: ani-breath 2s ease-in-out infinite;
  }
}

/** 心跳 */
@keyframes ani-breath {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
