:root {
  --theme-normal-color: #b3b3b3;
  --theme-active-color: #02d3fa;
  --theme-normal-border-color: #e8e8e8;
  --theme-active-border-color: #e5e6e7;
}

.layout {
  --layout-bg: #fcfcfc;
  --layout-color: rgb(51 65 85);
  --layout-menu-bg: #353a5a;
  --layout-header-color: #fff;
  --layout-main-bg: #f0f5f4;
  --layout-main-content-bg: #fafcfd;
}
