.not-found {
  &-animation {
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
    position: absolute;
  }

  .animation1 {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: cloudleft;
    width: 4.8rem;
  }

  .animation2 {
    animation-delay: 1.2s;
    animation-duration: 1.8s;
    animation-name: cloud-middle;
    width: 4.2rem;
  }

  .animation3 {
    animation-delay: 1.1s;
    animation-duration: 2.1s;
    animation-name: cloud-right;
    width: 4.4rem;
  }

  @keyframes cloud-left {
    0% {
      left: 65%;
      opacity: 0;
      top: 10%;
    }

    30% {
      left: 50%;
      opacity: 1;
      top: 26%;
    }

    68% {
      left: 30%;
      opacity: 1;
      top: 50%;
    }

    100% {
      left: 20%;
      opacity: 0;
      top: 60%;
    }
  }

  @keyframes cloud-middle {
    0% {
      left: 74%;
      opacity: 0;
      top: 12%;
    }

    40% {
      left: 54%;
      opacity: 1;
      top: 34%;
    }

    80% {
      left: 34%;
      opacity: 1;
      top: 54%;
    }

    100% {
      left: 24%;
      opacity: 0;
      top: 64%;
    }
  }

  @keyframes cloud-right {
    0% {
      left: 78%;
      opacity: 0;
      top: 28%;
    }

    20% {
      left: 68%;
      opacity: 1;
      top: 38%;
    }

    80% {
      left: 38%;
      opacity: 1;
      top: 58%;
    }

    100% {
      left: 28%;
      opacity: 0;
      top: 68%;
    }
  }
}
